/*div{
    width: 250px;
    height: 250px;
    background-color: aqua;
}
p{
    color: black;
    font-size: 5rem;
}
.caja{
    width: 150px;
    height: 150px;
    background-color: rgb(100, 0, 10)
}

.otraCaja{
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 250, 0.5   );

}

.cajita{
    width: 150px;
    height: 150px;
    background-color: green;
}

.cajitaCuatro{
    width: 150px;
    height: 150px;
    background-color: hsl(0, 100%, 50%);
}

*{
    color: green;
    font-weight: bolder;
}

#soyUnico{
    width: 250px;
    height: 50px;
    color: aqua;

}

a[tittle]{
    color: blueviolet;
}

button:hover{
    background-color: purple;
    color: green;
}
input:disabled{
    background-color: black;
}
p::first-line{
    color: green;
}
p::first-letter{
    color: red;
    font-size: 150px;
}

.capibara1, .capibara2, .capibara3{
    width: 100px;
    height: 100px;
    background-color: violet;
}

.padre p{
    color: red;
}
*/

p#unico.foo.bar.baz{
    color: red!important;
}

p#unico.foo.bar{
    color: green;
}

.main{
    color: rebeccapurple;
    border: 2px solid white;
    padding: 1em;
}
.special{
    color: red;
    font-weight: bold;
}
.rectangulo{
    width: 450px;
    height: 250px;
    background-color: blue;
}
.caja{
    width: 50%;
    height: 250px;
    background-color: rgb(15, 125, 90);

}
.cajaInterior{
    width: 50%;
    height: 50%;
    background-color: blueviolet;
}
.cajaInterior p{
    font-size: 4rem;
}

.hola{
    background-color: red;
    padding-top: 25px;
    padding: 25px;
    border-left: 12px solid green;
    border-right: 12px solid green;
    border-top: 12px solid green;
    border-bottom: 12px solid green;
    border: 12px solid yellow;
    width: 250px;
    height: 250px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 25px;
}